<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        {% load bootstrap3 %}
        {% bootstrap_css %}
        <!--
            bootstrap_javascript
            bootstrap_messages
        -->
        {% load staticfiles %}
        <script type="text/javascript" src="{% static 'static_jquery/js/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/notification.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/layout.css' %}" />
    </head>
    <body>
        {% include 'layouts/_header.html' %}
        <div class="container">
            <div class="col-lg-12">
                <div id="notification_box" 
                   class="alert col-md-6 col-md-offset-3 text-center" 
                   style="margin-top:5px;">
                </div>
            </div>
            {% block content %}{% endblock %}
            {% block scripts %}{% endblock %}
            {% include 'layouts/_footer.html' %}
        </div>
    </body>
</html>
